
body {
    font-family: Arial, sans-serif;
    /* background-color: #080314; */
    margin: 0;
    padding: 20px;
    /* height: 100vh; */
}

backgroundGradient {
    background-image: linear-gradient(to bottom, #000218, #01213d);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

h1 {
    color: #ffffff;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.goalsContainer {
    position: relative;
    display: flex;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    /* align-items: left; */
    gap: 10px;
}

h2 {
    color: #0ac7f7;
    font-size: large;
    margin: 8px;
    /* display: flex; */
    /* justify-content: center; */
}

h3 {
    color: rgb(175, 171, 206);
    font-size: small;
    text-align: center;
    line-height: 1.2rem;
    margin-bottom: 30px;
}

goalText {
    color: darkorchid;
    /* font-style: italic; */
    font-weight: bolder;
    margin-left: 10px;
}


synth {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 5%;
    position: fixed;
    width: 100%;
    color: azure;
    font-style: italic;
}