
body {
    font-family: Arial, sans-serif;
    background-color: #080314;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    font-size: xx-large;
}

h2 {
    color: #0ac7f7;
    font-size: large;
}

goalText {
    color: darkorchid;
    font-style: italic;
    font-weight: bolder;
}

synth {
    bottom: 5%;
    align-content: center;
    position: fixed;
    width: 100%;
    /* height: 0%; */
    color: azure;
}