
body {
    font-family: Arial, sans-serif;
    /* background-color: #080314; */
    margin: 0;
    padding: 20px;
}

backgroundGradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-image: linear-gradient(to bottom, #000218, #01213d);
}

h1 {
    color: #ffffff;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.goalsContainer {
    position: relative;
    display: flex;
    width: 30%;
    left: 40%;
    flex-direction: column;
    /* align-items: left; */
    gap: 20px;
}

h2 {
    color: #0ac7f7;
    font-size: large;
    display: flex;
    /* justify-content: center; */
}

goalText {
    color: darkorchid;
    /* font-style: italic; */
    font-weight: bolder;
    margin-left: 10px;
}


synth {
    display: flex;
    justify-content: center;
    bottom: 5%;
    position: fixed;
    width: 100%;
    color: azure;
}