
body {
    font-family: Arial, sans-serif;
    /* background-color: #080314; */
    margin: 0;
    padding: 20px;
    /* height: 100vh; */
}

backgroundGradient {
    background-image: linear-gradient(to bottom, #000218, #01213d);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

h1 {
    color: #ffffff;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.countWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
}

countText {
    margin-top: 40px;
    color: rgba(196, 104, 219, 0.647);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.goalsContainer {
    margin-top: 80px;
    position: relative;
    display: flex;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    gap: 10px;
}

h2 {
    color: #0ac7f7;
    font-size: large;
    margin: 8px;
}

h3 {
    color: rgb(175, 171, 206);
    font-size: small;
    text-align: center;
    line-height: 1.2rem;
    margin-bottom: 0px;
}


goalText {
    color: darkorchid;
    /* font-style: italic; */
    font-weight: bolder;
    margin-left: 10px;
}


synth {
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 5%;
    position: fixed;
    width: 100%;
    color: azure;
    font-style: italic;
}